body{
    background-color:black;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
.responsive {
    width: 100%;
    height: auto;
}
.responsive1 {
    display: block;
    width: 100%;
    height: auto;
}
.resbanner{
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.left {
    display: block;
    margin-right:auto;
    width: 45%;
    height: 80%;
    float: left;
}
.container {
    display: flex;
    justify-content: space-around;
}
.split{
    flex-basis: 45%;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:auto;
}
.container h2{
    text-align: center;
    font-size: 25px;
    padding-right: 20px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/Blue-Trees.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-around;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-link-pages{
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
}
.nav-link-pages ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link-pages a{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    color: black;
    text-decoration: none;
    font-size: 31px;
}
.nav-link-pages ul li::after{
    content: '';
    width: 0%;
    height: 5px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.nav-link-pages ul li:hover::after{
    width: 100%;
}
.ellipsis-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.ellipsis-button .bar{
    height: 3px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
}
.home-bannerImage{
    width: 75%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    color: aliceblue;
    background-color: black;
    text-align: center;
}
.text-box h2{
    font-family: 'Josefin Slab', serif;
    margin: 10px 0 40px;
    font-size: 28px;
    color: black;

    overflow: hidden; /* Content hidden until the animation */
    white-space: nowrap; 
    margin: 0 auto;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
.text-box p{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    margin: 10px 0 40px;
    font-size: 22px;
    color: black;
}
.text-box-information{
    width: 90%;
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box-information h1{
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    color: aliceblue;
    background-color: black;
    
}
.text-box-information p{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    margin: 10px 0 40px;
    font-size: 22px;
    color: black;
}
.text-box-contact{
    width: 90%;
    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box-contact h1{
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    color: aliceblue;
    background-color: black;
    
}
.text-box-contact p{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    margin: 10px 0 40px;
    font-size: 25px;
    color: black;
    background-color: lightblue;
}
.text-box-redeem{
    width: 90%;
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box-redeem h1{
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    color: aliceblue;
    background-color: black;
    
}
.text-box-redeem p{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    margin: 10px 0 40px;
    font-size: 25px;
    color: black;
    background-color: lightblue;
}
@media (max-width: 375px) {
    .container {
      flex-direction: column;
    }
}
@media(max-width: 575px){
    .nav-link-pages a{
        font-family: 'Licorice', cursive;
        font-family: 'Rubik Bubbles', cursive;
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
    }
    .text-box{
        width: 90%;
        color: black;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text-box-information{
        width: 90%;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text-box-contact{
        width: 90%;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text-box-redeem{
        width: 90%;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .ellipsis-button{
        display: flex;
    }
    .nav-link-pages{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar img{
        display: none;
    }
    .nav-link-pages ul {
        width: 100%;
        font-size: small;
        flex-direction: column;
    }
    .nav-link-pages.active{
        display: flex;
        background-color: black;
        top: 70%;
    }
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .text-box{
        width: 90%;
        color: black;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text-box-information h1{
        font-size: 20px;
    }
    .text-box-information h2{
        font-size: 15px;
    }
    .text-box-contact h1{
        font-size: 20px;
    }
    .text-box-contact p{
        font-size: 10px;
    }
    .nav-link-pages ul li{
        display: block;
    }
    .nav-link-pages ul{
        padding: 30px;
    }
    .bookOfMonth{
        float: none;
        text-align: center;
    }
}
@media (max-width: 1360px) {
    .container {
      flex-direction: column;
    }
}
@media (max-width: 1670px) {
    .container h2{
        font-size: 20px;
    }
}
.books{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.books h1{
    font-size: 55px;
    font-weight: 600;
    color: aliceblue;
}
p{
    color: black;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content:space-around;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}
.Fiction-Books{
    flex-basis: 30%;
    background-color:lightblue;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 50px;
    box-sizing: border-box;
}
.Fiction-Books h3{
    font-size: 25px;
}
.Fiction-Books p{
    font-size: 20px;
}
.Educational-Books{
    flex-basis: 30%;
    background-color:lightcoral;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.Educational-Books h3{
    font-size: 25px;
}
.Educational-Books p{
    font-size: 20px;
}
.Manga-Books{
    flex-basis: 30%;
    background-color:blanchedalmond;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.Manga-Books h3{
    font-size: 25px;
}
.Manga-Books p{
    font-size: 20px;
}
.Comic-Books{
    flex-basis: 30%;
    background-color:goldenrod;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.Comic-Books h3{
    font-size: 25px;
}
.Comic-Books p{
    font-size: 20px;
}

.bookOfMonth{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.bookOfMonth h1{
    font-size: 55px;
    font-weight: 600;
    color: aliceblue;
}
.listOfFictionBooks{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.listOfFictionBooks h1{
    font-size: 55px;
    font-weight: 600;
    color: aliceblue;
}
.listOfEduBooks{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.listOfEduBooks h1{
    font-size: 55px;
    font-weight: 600;
    color: aliceblue;
}
.listOfMangaBooks{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.listOfMangaBooks h1{
    font-size: 55px;
    font-weight: 600;
    color: aliceblue;
}
.listOfComicBooks{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.listOfComicBooks h1{
    font-size: 55px;
    font-weight: 600;
    color: aliceblue;
}


footer {
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    padding: 3px;
    background-color:lightblue;
    color: black;
    text-align: center;
}
footer a{
    color: black;
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
}

