body{
    background-color: aliceblue;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/Blue-Trees.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-around;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-link-pages{
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
}
.nav-link-pages ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link-pages a{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    color: black;
    text-decoration: none;
    font-size: 31px;
}
.nav-link-pages ul li::after{
    content: '';
    width: 0%;
    height: 5px;
    background: aliceblue;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.nav-link-pages ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    color: aliceblue;
    background-color: black;
    
}
.text-box p{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    margin: 10px 0 40px;
    font-size: 22px;
    color: black;
}
.text-box-information{
    width: 90%;
    color: black;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box-information h1{
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    color: aliceblue;
    background-color: black;
    
}
.text-box-information p{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    margin: 10px 0 40px;
    font-size: 22px;
    color: black;
}
.text-box-contact{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box-contact h1{
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    color: aliceblue;
    background-color: black;
    
}
.text-box-contact p{
    font-family: 'Licorice', cursive;
    font-family: 'Rubik Bubbles', cursive;
    margin: 10px 0 40px;
    font-size: 25px;
    color: black;
    background-color: lightblue;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box-information h1{
        font-size: 20px;
    }
    .text-box-contact h1{
        font-size: 20px;
    }
    .nav-link-pages ul li{
        display: block;
    }
    .nav-link-pages{
        position: absolute;
        background: lightblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link-pages ul{
        padding: 30px;
    }
}

.books{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.Fiction-Books{
    flex-basis: 30%;
    background-color:lightblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.NonFiction-Books{
    flex-basis: 30%;
    background-color:lightcoral;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.Manga-Books{
    flex-basis: 30%;
    background-color:blanchedalmond;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.Comic-Books{
    flex-basis: 30%;
    background-color:aquamarine;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}